# Database Setup (Targeting local SQLite)
DATABASE_URL="file:./dev.db"

# Authentication JWT encryption secret key
JWT_SECRET="opencms-super-secret-key-change-this-in-production-2026"

# Host Domain
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
